<h2 class="page-header">Manage Categories <%= link_to "Create New", new_admin_category_path,
class: 'btn btn-primary pull-right'%></h2>
<table class="table table-striped">
  <tr>
    <th>Category Title</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Category Number One</td>
    <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-
    danger">Delete</a></td>
  </tr>
  <tr>
    <td>Category Number Two</td>
    <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-
    danger">Delete</a></td>
  </tr>
  <tr>
    <td>Category Number Three</td>>
    <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-
    danger">Delete</a></td>
  </tr>
  </table>
